*{
padding:0;
margin:0;
}
.container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:800px;
  width:1575px;
}
.formcontainer{
  background-color:#fff;
  width:580px;
  height: 550px;
  display:flex;
  border-radius:5px;
  border:1px solid #000;
  align-items:center;
  justify-content:center;
}
.form{
  background-color:#fff;
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
.form input{
  background-color:#fff;
  height:55px;
  width:450px;
  margin-top: 25px;
  border-radius:5px;
  border:1px solid #2D2D2D;
  border-bottom: 1px solid #2D2D2D;
}
.form input[type=text]{
  padding-left:10px;
}
.form input[type=number]{
  padding-left:10px;
}
.form button{
  margin-top: 25px;
  background-color:#FF5F55;
  color:#fff;
  height:55px;
  width:465px;
}